<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source=SHELLYCHAWHAN\SHELLYEXPRESS;Initial Catalog=HiTechDB;User Id =sa;Password=lasalle" />
	<add name="HiTechDBdbContext" connectionString="metadata=res://*/BLL.HiTechDBModel.csdl|res://*/BLL.HiTechDBModel.ssdl|res://*/BLL.HiTechDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHELLYCHAWHAN\SHELLYEXPRESS;initial catalog=HiTechDB;user id=sa;password=lasalle;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>